<h2>Последние 10 петиций</h2>

<table class="table">
  <thead>
    <tr>
      <th>Петиция</th>
      <th>Автор</th>
      <th>Голоса</th>
      <th>Дата создания</th>
    </tr>
  </thead>

  <% @petitions.each do |petition| %>
    <%= render 'petitions/petition', petition: petition %>
  <% end %>
</table>
